* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #282c34;
    font-family: Helvetica, sans-serif;
  }
  
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    left: 22%;
  }
  
  .timeline::after {
    content: '';
    position: absolute;
    width: 3px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    margin-left: 10px;
  }
  

  
 

  
