.modal {
    position: absolute;
    top: 240px;
    left: 350px;
    right: 350px;
    bottom: 240px;
    background-color: white;    
    border-radius: 15px;
    outline: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.modalContent {
    text-align: center;
    padding: 20px;
}

.modalContent input {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 3px #666;
    border-radius: 10px;
    font-size: 20px;
    padding: 4px 7px;
    outline: 0;
}

.modalContent button {
    border: 1px solid #282c349d;    
    box-shadow: 2px 2px 3px #666;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    padding: 6px 9px;
    margin-left: 15px;
    background-color: #282c34;
    color: white;
}